@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color-white: #ffffff;
    --color-dark: #111111;
    --theme:  #fc4a1a;

    --btn-primary: #fa9046;
    --btn-primary-hover: #fa9046;

    --font-base: 'Barlow Semi Condensed', sans-serif;
  }

  html {
  scroll-behavior: smooth;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
  }

/* =======================
    
    #base style 
    
===========================*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.1rem;
}

h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
font-size: 1.5rem;
}

strong{
    font-weight: 400;
}

.btn__primary {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--btn-primary);
    color: var(--color-white);
}

.btn__primary:hover {
    background-color: var(--color-yellow-light);
}

.body__wrap {
    position: relative;
}

.wrap__container {
    margin: 0 auto;
}

.section__header {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #313131;
    text-transform: uppercase;
}

.btn__download a {
    color: var(--color-white);
    background-color: var(--btn-primary);
    border-radius: 4px;
    transition: 300ms;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}


.btn__download a:hover {
    background-color: var(--color-yellow-light);
}
/* =======================
    
    #body header
    
===========================*/
.nav__link {
    font-family: var(--font-base);
    font-size: 1.2rem;
    font-weight: 500;
    color: #111111;
    transition: 300ms;
}

.nav__link:hover {
    color: var(--theme);
}

/* =======================
    
    #body banner
    
===========================*/
.body__banner img {
    width: 100%;
}
.banner__content{
    padding: 50px 40px;
    background-color: #fdfdfdf6;
}

.banner__content-header {
    padding-bottom: 20px;
    text-align: center;
}

.banner__content-header h1 {
    font-family: var(--font-base);
}

.banner__content-body {
    padding-bottom: 20px;
}

.banner__animation{
    height: 50px;
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 50px;
    text-align: center;
    animation: pulse 1500ms infinite;
    border-radius: 5px;
}


@keyframes pulse {
    0% {
        /* padding: 30px; */
      background-color: #e66903;

    }
    50% {
        background-color: #FF4136;
        box-shadow: 0 0 10px rgba(0,0,0,0.7);
    }
    100% {
        /* padding: 30px; */
      background-color: #e66903;

    }
  }


/* =======================
    
    #body container
    
===========================*/


/* =======================
    
    #body footer
    
===========================*/