@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color-white: #ffffff;
    --color-dark: #111111;
    --theme:  #fc4a1a;

    --btn-primary: #11132c;
    --btn-primary-hover: #2d3b64;

    --font-base: 'Barlow Semi Condensed', sans-serif;
  }

  html {
  scroll-behavior: smooth;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
  }

/* =======================
    
    #base style 
    
===========================*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.1rem;
}

h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
font-size: 1.5rem;
}

strong{
    font-weight: 400;
}

.btn__primary {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--btn-primary);
    color: var(--color-white);
}

.btn__primary:hover {
    color: #fff;
    background-color: var(--btn-primary-hover);
}

.body__wrap {
    position: relative;
}

.wrap__container {
    margin: 0 auto;
}

.section__header {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #313131;
    text-transform: uppercase;
}

.btn__download a {
    color: var(--color-white);
    background-color: var(--btn-primary);
    border-radius: 4px;
    transition: 300ms;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}


.btn__download a:hover {
    background-color: var(--color-yellow-light);
}
/* =======================
    
    #body header
    
===========================*/
.nav__link {
    font-family: var(--font-base);
    font-size: 1.2rem;
    font-weight: 500;
    color: #111111;
    transition: 300ms;
}

.nav__link:hover {
    color: var(--theme);
}

/* =======================
    
    #body banner
    
===========================*/
.body__banner img {
    width: 100%;
}
.banner__content{
    padding: 50px 40px;
    background-color: #fdfdfdf6;
}

.banner__content-header {
    padding-bottom: 20px;
    text-align: center;
}

.banner__content-header h1 {
    font-family: var(--font-base);
}

.banner__content-body {
    padding-bottom: 20px;
}

.banner__content-body ul li{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
}

.banner__animation{
    height: 50px;
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 50px;
    text-align: center;
    animation: pulse 1500ms infinite;
    border-radius: 5px;
}


@keyframes pulse {
    0% {
        /* padding: 30px; */
      background-color: #e66903;

    }
    50% {
        background-color: #FF4136;
        box-shadow: 0 0 10px rgba(0,0,0,0.7);
    }
    100% {
        /* padding: 30px; */
      background-color: #e66903;

    }
  }


/* =======================
    
    #body container
    
===========================*/

.overview__header h1 {
    font-family: var(--font-base);
    color: rgb(0, 14, 94);
}

.overview__header h2 {
    color: rgb(54, 54, 54);
    font-weight: 300;

}

.overview__header strong {
    line-height: 50px;
}

/* section offer */
.section__offer {
    background-image: url("../img/bg/bg-1.jpg");
    background-color: #101010;
    background-blend-mode: overlay;
}
    
.wrap__offer .wrap__article{
    width: 80%;
    background-color:#e9e9e92f;
    border: 3px solid rgba(11, 12, 24, 0.5);
    border-radius: 4px;
    padding: 10px;
}
.configure__header h1{
    font-family: var(--font-base);
    /* color:rgb(0, 14, 94); */
}

.wrap__article:first-child header {
    padding: 6px 0;
    background-color: #ffae18;
    font-family: var(--font-base);
    font-size: 1.4rem;
    font-weight: 500;
    color:rgb(37, 37, 37);
    text-transform: uppercase;
}

.offer__call-header, .offer__whatsApp-header {
    padding: 6px 0;
    font-family: var(--font-base);
    font-size: 1.4rem;
    font-weight: 500;
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}


.offer__call-header::before, .offer__whatsApp-header::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 30%;
    width: 40%;
    height: 2px;
    background-color: #fff;
}

.wrap__offer ul {
    padding-left: 20px;
}

.wrap__offer ul li{
    font-size: 1.2rem;
    color: #fff;
}

.wrap__offer ul li::before {
    padding-right: 20px;
    content: "\f00c";
    font-family: fontAwesome;
}

.offer__call-body, .offer__whatsApp-body{
    text-align: center;
    padding: 20px 0;
}


.offer__call-body i{
    padding-right: 15px;
}

.offer__call-body a {
    font-size: 30px;
    color: #fff;
}

.wrap__whatsApp {
    padding: 5px 20px 5px 40px;
    display: inline-block;
    /* background-color: #fff; */
    background-color: green;
    border: 2px solid #fff;
    border-radius: 30px;
    color: rgb(250, 250, 250);
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    transition: 300ms;
}

.wrap__whatsApp:hover {
    color: rgb(221, 221, 221);
    background-color: #0cb43e;
}

.wrap__whatsApp i {
    background-color: green;
    color: #fff;
    display: inline-block;
    padding: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: -3px;
    left: -14px;
}

.table td, .table th {
    padding: 4px 0;
    /* vertical-align: center; */
}

.table td .btn__primary {
    width: 100%;
    padding: 6px 0;
}

.table__whatsApp {
    display: inline-block;
    color:  rgb(255, 255, 255);
    font-size: 22px;
    color: rgb(1, 184, 1);
}

.table__whatsApp i {
    margin-right: 6px;
    background-color: rgb(1, 184, 1);
    width: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #fff;
}

.configure__header {
    position: relative;
}

.configure__header strong {
    width: 100%;
    padding: 15px 30px 0;
    position: absolute;
    bottom:0;
    left: 0;
    background-color:rgba(19, 19, 19, 0.726);
    color: #fff;
    transition: 300ms;
}

.configure__header .location {
    padding-top: 10px;
    display: block;
    transition: 300ms;
    opacity: 0;
}

.configure__header .ready {
    display: block;
    text-transform: capitalize;
    padding: 10px 30px;
    position: absolute;
    top:0;
    left: 0%;
    background-color:rgba(255, 51, 15, 0.726);
    color: #fff;
    font-size: 16px;
    transition: 300ms;
}

.configure__header:hover .ready{
    background-color:rgba(175, 28, 2, 0.726);

}

.configure__header:hover strong{
    padding-bottom: 10px;
}

.configure__header:hover .location {
   opacity: 1;
}

/* amenity */
.wrap__amenity header{
    font-family: var(--font-base);
}

.amenity__icon svg {
    fill: rgb(0, 83, 131);
}

.amenity__name {
    font-family: var(--font-base);
    font-size: 1.2rem;
    font-weight: 600;
}

/* section other */
.section__other header{
    color: #fff;
}
.section__other {
    background-image: url("../img/bg/bg-2.jpg");
    background-color: #101010c9;
    background-blend-mode: multiply;
}

.section__other ul li {
    color: rgb(224, 224, 224);
    padding: 4px 0;
    font-weight: 400;
}


.section__other ul li::before {
    content: "\f105";
    font-family: fontAwesome;
    padding-right: 8px;
}

/* section gallery */
.wrap__gallery-content {
    position: relative;
}

.gallery__header {
    padding: 6px 0;
    font-family: var(--font-base);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.wrap__gallery img {
    outline: 1px solid rgb(219, 219, 219);
    outline-offset: 2px;
}


.wrap__gallery-content header{
    width: 100%;
    background-color: rgba(26, 26, 26, 0.836);
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 500;
}

.contact__header {
    font-family: var(--font-base);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
}

/* =========================
    
    #body footer
    
===========================*/
.body__footer a {
    color: rgb(255, 126, 41);
}

.body__footer {
    background-color: rgb(26, 26, 26);
    color: rgb(189, 189, 189);
}

.footer__header {
    padding-bottom: 10px;
    font-weight: 500;
    color: rgb(231, 231, 231);
    font-family: var(--font-base);
    font-size: 1.3rem;
}

.copy__right {
    margin-top: 20px;
    text-align: center;
    padding: 10px 0 0;
    border-top: 1px solid rgb(66, 66, 66);
}

.qr {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.qr img {
    width: 50px;
}

.qr__list header {
    padding-bottom: 10px;
    font-weight: 400;
    color: rgb(231, 231, 231);
}

.contact__direct i{
    width: 25px;
    display: inline-block;
    color: #a8a8a8;
    font-size: 1rem;
}

.contact__direct li:last-child i {
    font-size: 1.6rem;

}